.cardPage {
    grid-area: main;
    
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 0.5rem;

    margin-top: 1rem;
}

.card__button {
    border-radius: 50%;
    
    font: 2em sans-serif;
    background-color: red;
    color: yellow;

    cursor: pointer;
}