.form{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap:0.5rem;
    padding: 20px;
}

label{
    margin-top: 50px;
}

.form__name,.form__email{
    grid-column: span 12;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 1rem;
}

.name,.email{
    grid-column: span 4;
    justify-self: center;
    font-size: xx-large;
}

.form__name__input,.form__email__input{
    grid-column: span 8;
}

.form__checkbox{
    grid-column: span 12;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 0.5rem;
}

.form__checkbox__check{
    grid-column: span 3;
    justify-self: end;
}

.checkbox{
    grid-column: span 9;
    justify-self: start;
    font-size: larger;
}

.form__tier{
    grid-column: span 12;
    display: grid;
    grid-template-columns: repeat(12,1fr);
}

.tier{
    grid-column: span 3;
    font-size: larger;
}

.form__tier__check{
    grid-column: span 9;
}

button{
    grid-column: span 12;
    height: 50px;
    font-size: larger;
}

@media  screen and (max-width:50rem) {
    .footer__item{
        grid-column: span 12;
    }

    .name,.email{
        justify-self: start;
    }

    .form__name__input,.form__email__input{
        grid-column: span 12;
        height: 39px;
    }

    .form__checkbox__check{
        grid-column: span 1;
        justify-self: flex-start;
    }

    .checkbox{
        grid-column: span 11;
    }

    .tier{
        grid-column: span 12;
    }

    .form__tier__check{
        grid-column: span 12;
    }
}